python-telegram-bot==12.7
requests==2.22.0
pyfiglet==0.8.post1
python-dotenv===0.17.1
beautifulsoup4==4.12.2
docx2txt==0.8
flask==2.2.2
Werkzeug==2.2.2
pypdf2==3.0.1
validators==0.20.0
threaded==4.1.0
regex
html
bs4
pymupdf
python-docx
